{% include fragments/scripts.liquid %}
{% assign simulator = site.data[page.simulator] %}
{% assign aircraft = simulator[page.aircraft] %}

<div class="container">
  <div class="card mt-3">
    <div class="card-header">
      <h1 class="text-center mt-3">{{ aircraft.name }} Checklist</h1>
      <h2 class="text-center">For {{ simulator.meta.name }}</h2>
    </div>
    <div class="row m-0">
      <div class="col-2 bg-light border-right">
        <div class="nav flex-column nav-pills pt-3 pb-3" role="tablist">
          {% assign index = 0 %}
          {% if aircraft.integrations %}
            <a class="nav-link active"
               data-toggle="list" href="#simbrief"
               role="tab">Integrations</a>
            {% assign index = index | plus: 1 %}
          {% endif %}
          {% for section in aircraft.sections %}
            <a class="nav-link{% if index == 0 %} active{% endif %}"
               data-toggle="list" href="#{{ section.id }}"
               role="tab">{{ section.name }}</a>
            {% assign index = index | plus: 1 %}
          {% endfor %}
          <a class="nav-link" href="/" role="tab"> &lt; Back</a>
        </div>
      </div>

      <div class="col">
        <div class="tab-content">
          {% assign index = 0 %}
          {% if aircraft.integrations %}
            <div class="tab-pane active"
                 id="simbrief"
                 role="tabpanel">
                {% include fragments/delimiter.liquid text="START OF CHECKS" %}
                {% include fragments/integrations.liquid %}
                {% include fragments/delimiter.liquid text="END OF CHECKS" %}
            </div>
            {% assign index = index | plus: 1 %}
          {% endif %}
          {% for section in aircraft.sections %}
            <div class="tab-pane {% if index == 0 %} active{% endif %}"
                 id="{{ section.id }}"
                 role="tabpanel">
                {% include fragments/delimiter.liquid text="START OF CHECKS" %}
                {% for action in section.actions %}
                  {% include fragments/line.liquid %}
                {% endfor %}
                {% include fragments/delimiter.liquid text="END OF CHECKS" %}
            </div>
            {% assign index = index | plus: 1 %}
          {% endfor %}
        </div>
      </div>
    </div>
    <div class="card-footer text-muted text-center">
      {% include fragments/disclaimer.liquid %}
    </div>
  </div>
</div>
