<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="{{ action.input.id }}-label">
      {{ action.input.label }}
    </span>
  </div>
  <input type="text" class="form-control"
         {%  if action.input.placeholder %}
         placeholder="{{ action.input.placeholder }}"
         aria-label="{{ action.input.placeholder }}"
         {%  endif %}
         aria-describedby="{{ action.input.id }}-label" id="{{ action.input.id }}">
</div>
