{% if action.memo %}
  <div class="ml-3 mr-3 p-3 border-left border-success bg-light">
    {{ action.memo }}
  </div>
{% else %}
  <div class="row p-0 m-0">
    <div class="col-3">
      {{ action.name }}
    </div>
    <div class="col-2 text-center">
      {% if action.check %}
        {% include fragments/toggle.liquid %}
      {% endif %}
      {% if action.label %}
        <small class="badge badge-pill badge-success">
          {{ action.label }}
        </small>
      {% endif %}
    </div>
    <div class="col pt-1 border-left border-secondary">
      {% if action.input %}
        {% include fragments/input.liquid %}
      {% else %}
        <small {% if action.id %}id="{{ action.id }}-notes"{% endif %}>
          {{ action.notes }}
        </small>
      {% endif %}

    </div>
  </div>
{% endif %}
