<div class="input-group input-group-sm mb-3">
  <div class="input-group-prepend">
    <span class="input-group-text" id="{{ action.note.id }}-label">{{ action.note.label }}</span>
  </div>
  <input type="text" class="form-control"
         {%  if action.note.placeholder %}
         placeholder="{{ action.note.placeholder }}"
         aria-label="{{ action.note.placeholder }}"
         {%  endif %}
         aria-describedby="{{ action.note.id }}-label" id="{{ action.note.id }}">
</div>
